<ion-header>
  <ion-toolbar>
    <ion-title>Create new Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="addEvent()" [formGroup]="form">
    <ion-item>
      <ion-input required type="text" placeholder="Title" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Start Date</ion-label>
      <ion-datetime required formControlName="dateFrom" min="2018" max="2020-10-31" placeholder="Select start date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">End Date</ion-label>
      <ion-datetime required formControlName="dateTo" min="2018" max="2020-10-31" placeholder="Select end date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Price" formControlName="price" pattern="\d*"></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button type="submit" [disabled]="!form.valid">Create Event</ion-button>
    </div>
  </form>
</ion-content>